aside.menu-area {
    background-color: white;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}
.menu {
    background-color: var(--bg-dark);
    display: table-column;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

.menu  a {
    display: block;
    text-decoration: white;
    color: white;
    font-weight: 300;
    padding:30px;
    text-align: center; 
    
    

}

.menu a:hover {
    background: linear-gradient(135deg, #807b7b 0%, #444141 100%);
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}